@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/*
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  line-height: 1.5rem;
  color: hsl(0, 0%, 100%);
  overflow-x: hidden;
}

.image_gallery {
  display: flex;
  flex-direction: column;
  background-image:
  linear-gradient(45deg, 
  #000000ea, 
  #020303ea), url('./images/1.jpg');
  width: 100%;
  background-size: cover;
  height: 50vh;
  padding: 2rem;
 
 
    color: #fff;
  /* filter:brightness(.2); */
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 1.5rem;
  cursor: pointer;
}

header button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 100%, 50%);
  border-radius: 15px;
  border: none;
  padding: 0.4rem 1.8rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

header button:hover {
  background-color: hsl(0, 73%, 37%);
  transform: scale(1.2);
}

.image_gallery div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  width: 51%;
  margin-top: 2rem;
  padding-block: 1rem;
}

h1 {
  text-align: start;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.image_gallery div button {
  display: flex;
  justify-self: center;
  align-self: flex-start;
  margin-top: 0.8rem;
  border-radius: 15px;
  background-color: hsl(197, 100%, 50%);
  padding: 0.4rem 1.8rem;
  border: none;
  font-size: 0.8rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.image_gallery div button:hover {
  background-color: hsl(197, 68%, 33%);
  transform: scale(1.2);
}

.image_gallery_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
 
}

.image_gallery_container h2 {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-size: 2rem;
  margin-block: 1rem;
}

.image_gallery_container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.image_gallery_container .btn button:nth-child(1) {
  background-color: hsl(197, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.image_gallery_container button {
  color: hsl(195, 53%, 79%);
  border: 1px solid hsl(195, 53%, 79%);
  border-radius: 15px;
  padding: 0.2rem 2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.image_gallery_container button:hover,
.image_gallery_container .btn button:nth-child(1):hover {
  background-color: hsl(195, 49%, 52%);
  color: hsl(0, 0%, 100%);
  transform: scale(1.2);
}

.image_gallery_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_gallery_image div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.image_gallery_image div img {
  width: 20%;
  transition: 0.5s ease-in-out;
}

.image_gallery_image div img:hover {
  transform: scale(1.2);
}

.gap {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.translate-up {
  margin-top: -0.9rem;
}

.translate_image {
  margin-top: -3rem;
}
